//typography
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-family-base: "Quicksand", sans-serif !important;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.5;
$headings-line-height: 2rem;
