.course-detail {
  hr {
    margin-bottom: 0;
  }
  .description {
    color: #808080;
  }
  .course-section {
    border-radius: 5px;
    border: solid 1px #d3d3d3;
    padding-bottom: 1rem;
    a {
      color: unset;
    }
  }
  .course-image {
    height: 300px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    .category {
      background-color: #06bf7c;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      @media (max-width: 475px) {
        padding-top: 0.24rem;
        padding-bottom: 0.4rem;
      }
    }
  }
  .chapter {
    background-color: #f8f8f8;
    padding: 0.75rem;
    font-size: 0.9rem;
    @media (max-width: 475px) {
      padding: 0.5rem;
    }
    .chapter-number {
      min-width: 30px;
      margin: 0 0.75rem 0 0;
      padding-top: 5px;
      width: 30px;
      height: 30px;
      background-color: #fff;
      color: #1b00b0;
      font-weight: 1000;
      border-radius: 50%;
      border: solid 1px #d3d3d3;
      text-align: center;
      vertical-align: middle;
      @media (min-width: 476px) {
        padding-top: 3px;
      }
    }
  }
  .content-img {
    height: 14px;
    @media (max-width: 475px) {
      height: 12px;
    }
  }

  .stats {
    .text-size-5 {
      font-size: 14px;
      @media (max-width: 475px) {
        font-size: 12px;
      }
    }
  }

  .share-img {
    height: 1.25rem;
  }
}
