@import "../variables";
.feedback-completed{    
    min-height: 100vh;
    background-color: white;
    .feedback-section{
        background-image: url("/courses/assets/img/feedback_bg.png"); 
        background-size: cover;
    }
    .fb-button{
        background-color: #1A4EAD !important;
        border: #1A4EAD !important;
        width: 220px;
    }
    .whatsapp-button{
        background-color: #029019 !important;
        border: #029019 !important;
        width: 220px;
    }
}

.feedback-started{
    min-height: 100vh;
    background-color: white;
    .feedback-section{
        background-image: url("/courses/assets/img/feedback_start.png"); 
        background-size: cover;
    }    
    .smiley-col{
        background-color: $giraffe-background;
        border-radius: 5px;
        .smiley-container{
            height: 74px;
            width: 74px;
            padding : 12px;
            cursor: pointer;
            img{
                height: 50px;
                width: 50px;
            }
        }
    }
    
}