.home-page{
    .text-size-1{
        line-height: 1.2;
    }
    .section-img{        
        height: auto;
        width: 100%;
        margin: auto;
    }
    .boost-img{
        padding : 0.25rem;
        border-radius: 5px;
        background-color: #f2f2f2;
        margin-right: 1rem;
        width: 50px;
        @media (max-width:475px) {
            margin: auto;
        }
    }
    .subscription-section{
        background-image: url("/courses/assets/img/subs_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sub-input{
        
        .standard-input{
            display: inline;
            input{
                width: 200px;
                display: inline-block;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border : 0;                
            }
        }

        .standard-button{
            height: 3rem;
            padding-top: 0;
            padding-bottom: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border : 0;
            margin-top: -3px;
        }
                
    }
    
}