@import "./src/sass/variables";

.standard-textarea {
  textarea {
    border-radius: 4px;
    
    border: solid 1px $giraffe-light;
    font-size: 1rem;

    &:focus {      
      border: solid 1px $giraffe-primary;
      box-shadow: none;
    }

    &.error {
      border: solid 1px $giraffe-danger;
      color: $giraffe-danger;
    }
  }
  ::placeholder {
    color: #808080;
  }

  label {
    font-size: 1rem;
  }

  .help-text {
    font-size: 0.75rem;
    opacity: 0.5;
  }
  .error-text {
    font-size: 0.75rem;
    color: $giraffe-danger;
  }
}
