.active-courses{
    .course{
        margin-top: 2rem;
        background-color: #fff;
        border-radius: 10px;       
        height: 150px; 
        .progress{
            height: 0.5rem;
            .progress-bar{
                background-color : #54DA77;
            }
        }
        .content-img{
            height: 1rem;
        }
        .chapter-image{
            width: 90%;
            border-radius: 5px;            
        }
        .chapter-title{
            height: 1.5rem;    
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;    
        }
        @media (max-width:475px) {
        
            .standard-button{            
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                min-width: 100px;
            }
            .content-img{
                height: 0.75rem;
            }
        }
        
        
    }
}