.banner {    
    background: url("/courses/assets/img/banner_bg.png");
    height: 120px;    
    background-size: cover;    
    .cta{
      margin : auto 0;
    }    
    @media (max-width:475px) {
      padding-top: 0;
      padding-bottom : 0;
      min-height: 160px;      
    }
    
  }
