.browse-category{       
    .category{
        color: #fff;
        height: 350px;
        padding: 2rem;
        border-radius: 5px;
        background-image: url("/courses/assets/img/courses_bg_round.png");
        background-repeat: no-repeat;
        background-position-x: right;
        .text-size-5{
            font-size: 14px;
        }
        .standard-button{
            position: absolute;
            bottom: 0;
        }
    }
    .desc{
        @media screen and (max-width: 1399px) and (min-width: 1200px){
            font-size: 0.8rem !important;
        }
        @media screen and (max-width: 1499px) and (min-width: 1400px){
            font-size: 0.9rem !important;
        }   
    }
}