@import "../variables";
.sidebar{
    background-color: #fff;
    height: auto !important;
    width: 100% !important;
    padding-bottom: 1rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
      }
      
      li a {
        display: block;        
        padding: 8px 16px;
        text-decoration: none;
      }
      li:focus{
        outline-color: #fff;
      }                              
}
