.top-navigation {
    $navbar-height: 4rem;
    .div-adjuster {
      height: $navbar-height;
    }
    
    .navbar {
      height: $navbar-height;   
      .logo{
        height: 50px;
      }     
      justify-content: inherit;
      display: block;
    }
    .row{
      background-color: #ffffff;
    }
  }
  