.why-giraffe{
    .why-tile{
        margin-top: 2rem;
        padding : 2rem;
        background-color: #fff;
        border-radius: 10px;        
        height: 400px;
        @media (max-width:475px) {
            height: 400px;
        }
    }
    
}